@page
@model HABManagement.Pages.FoodDB.DetailsModel

@{
    ViewData["Title"] = "詳細";
}

<h1>詳細</h1>

<div>
    <h4>冷蔵庫</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Num)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Memo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Food?.ID">編集</a> |
    <a asp-page="./Index">戻る</a>
</div>
