@page
@model HABManagement.Pages.FoodDB.DetailsModel

@{
    ViewData["Title"] = "詳細";
}

<body style="background:#AFEEEE;">
</body>

<h1>詳細</h1>

<div>
    <h4>冷蔵庫</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)名前
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)個数
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Num)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)日付
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)有効期限
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)メモ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Food?.ID">編集</a> |
    <a asp-page="./Index">冷蔵庫管理に戻る</a>
</div>
