@page
@using Microsoft.AspNetCore.Http
@model HABManagement.Pages.FoodDB.IndexModel

@{
    ViewData["Title"] = "冷蔵庫";
}

<body style="background:#AFEEEE;">
</body>

<h1>冷蔵庫管理</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<form>
    <p>
        名前: <input type="text" asp-for="SearchString" />
        <input type="submit" value="検索" class="btn btn-primary" />
        <a class="btn btn-outline-secondary" asp-page="./Index">リセット</a>
    </p>
</form>

<hr width="100%" size="10" noshade="" color="#004970">
<div style="background:#d5eded;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)名前
            </th>
            <th>
                @Html.DisplayNameFor(model => model)個数
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="@Model.NumSort" asp-route-SearchString="@HttpContext.Session.GetString("Item")">
                    ▲▼
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model)日付
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-sortOrder="@Model.NumSort" asp-route-SearchString="@HttpContext.Session.GetString("Item")">
                    ▲▼
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model)有効期限
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="@Model.ExpiryDateSort" asp-route-sortOrder="@Model.NumSort" asp-route-SearchString="@HttpContext.Session.GetString("Item")">
                    ▲▼
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model)メモ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>