@page
@model HABManagement.Pages.FoodDB.IndexModel

@{
    ViewData["Title"] = "冷蔵庫";
}

<h1>冷蔵庫</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Memo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
