@page
@model HABManagement.Pages.KakeiDB.IndexModel
@{
    var i = 0;
    string[] date = new string[12];
    int[] expenses = new int[12];
    int[] income = new int[12];
}
@while (i < 12)
{
    int y = DateTime.Today.Year;
    int m = DateTime.Today.Month;
    int n = i;
    if (m <= n)
    {
        n -= m;
        m = 12 - n;
        y -= 1;
    }
    else
    {
        m -= n;
    }

    string datenow = string.Format("{0}-{1}", y, m);
    string reyr = "";
    string remn = "";
    string monthnow = "";

    string balance1 = "支出";
    string balance2 = "収入";
    int sum1 = 0;
    int sum2 = 0;

    foreach (var a in Model.Kakei)
    {
        reyr = a.Date.Year.ToString();
        remn = a.Date.Month.ToString();
        monthnow = string.Format("{0}-{1}", reyr, remn);
        if (a.Balance == balance1 && monthnow == datenow)
        {
            sum1 += a.Price;
        }
        else if (a.Balance == balance2 && monthnow == datenow)
        {
            sum2 += a.Price;
        }
    }
    
    date[i] = datenow;
    expenses[i] = sum1;
    income[i] = sum2;   
    i++;
}

<head>
    <meta charset="utf-8">
    <title>グラフ</title>
</head>
<body>
    <canvas id="myChart" height="110"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['@date[0]', '@date[1]', '@date[2]', '@date[3]', '@date[4]', '@date[5]', '@date[6]', '@date[7]', '@date[8]', '@date[9]', '@date[10]',  '@date[11]'],
                datasets: [
                    {
                        label: '支出',
                        data: [@expenses[0], @expenses[1], @expenses[2], @expenses[3], @expenses[4], @expenses[5], @expenses[6], @expenses[7], @expenses[8], @expenses[9], @expenses[10], @expenses[11]],
                        backgroundColor: "rgba(219,39,91,0.5)"
                    }, {
                        label: '収入',
                        data: [@income[0], @income[1], @income[2], @income[3], @income[4], @income[5], @income[6], @income[7], @income[8], @income[9], @income[10], @income[11]],
                        backgroundColor: "rgba(130,201,169,0.5)"
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: '月合計　収支'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMax: 50000,
                            suggestedMin: 0,
                            stepSize: 50000,
                            callback: function (value, index, values) {
                                return value + '円'
                            }
                        }
                    }]
                }, 
                responsive: true,
            }
        });
    </script>

</body>

