@page
@model HABManagement.Pages.KakeiDB.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kakei</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Memo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Memo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Kakei.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
