@page
@model HABManagement.Pages.KakeiDB.DeleteModel

@{
    ViewData["Title"] = "削除";
}

<h1>削除</h1>

<h3>本当に削除しますか？</h3>
<div>
    <h4>家計簿</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            支出・収入
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Balance)
        </dd>
        <dt class="col-sm-2">
            日付
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Date)
        </dd>
        <dt class="col-sm-2">
            価格
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Price)
        </dd>
        <dt class="col-sm-2">
           カテゴリー
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Category)
        </dd>
        <dt class="col-sm-2">
            メモ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Memo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Kakei.ID" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-page="./Index">家計簿に戻る</a>
    </form>
</div>
