@page
@model HABManagement.Pages.KakeiDB.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kakei</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kakei.Memo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kakei?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
