@page
@model HABManagement.Pages.KakeiDB.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>詳細</h1>

<div>
    <h4>Kakei</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            支出・収入
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Balance)
        </dd>
        <dt class="col-sm-2">
            日付
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Date)
        </dd>
        <dt class="col-sm-2">
            価格
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Price)
        </dd>
        <dt class="col-sm-2">
           カテゴリー
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Category)
        </dd>
        <dt class="col-sm-2">
            カテゴリー2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Category2)
        </dd>
        <dt class="col-sm-2">
             メモ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kakei.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kakei?.ID">編集</a> |
    <a asp-page="./Index">一覧へ戻る</a>
</div>
