@page
@using Microsoft.AspNetCore.Http
@model HABManagement.Pages.KakeiDB.IndexModel

@{
    ViewData["Title"] = "家計簿";
}

<body style="background:#FEDCBD;">
</body>

<h1>家計簿</h1>

<p>
    <a class="btn text-white" style="background-color:#fafafa" asp-page="Create">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">新規作成</font>
    </a>
</p>
<p>
    <a class="btn text-white" style="background-color:#fafafa" asp-page="Calendar">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">カレンダー</font>
    </a>
</p>

<p>
    <details style="background-color:#ffcc99">
        <summary>収支グラフ</summary>
        @{
            var i = 0;
            string[] date = new string[12];
            int[] expenses = new int[12];
            int[] income = new int[12];
        }
        @while (i < 12)
        {
            int y = DateTime.Today.Year;
            int m = DateTime.Today.Month;
            int n = i;
            if (m <= n)
            {
                n -= m;
                m = 12 - n;
                y -= 1;
            }
            else
            {
                m -= n;
            }

            string datenow = string.Format("{0}-{1}", y, m);
            string reyr = "";
            string remn = "";
            string monthnow = "";

            string balance1 = "支出";
            string balance2 = "収入";
            int sum1 = 0;
            int sum2 = 0;

            foreach (var a in Model.Kakei)
            {
                reyr = a.Date.Year.ToString();
                remn = a.Date.Month.ToString();
                monthnow = string.Format("{0}-{1}", reyr, remn);
                if (a.Balance == balance1 && monthnow == datenow)
                {
                    sum1 += a.Price;
                }
                else if (a.Balance == balance2 && monthnow == datenow)
                {
                    sum2 += a.Price;
                }
            }

            date[i] = datenow;
            expenses[i] = sum1;
            income[i] = sum2;
            i++;
        }

        <canvas id="myChart" height="120" style="background:white; padding:10px; margin:0px; border:5px solid #d5eded; border-radius:5px;"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['@date[11]', '@date[10]', '@date[9]', '@date[8]', '@date[7]', '@date[6]', '@date[5]', '@date[4]', '@date[3]', '@date[2]', '@date[1]', '@date[0]'],
                        datasets: [
                            {
                                label: '支出',
                                data: [@expenses[11], @expenses[10], @expenses[9], @expenses[8], @expenses[7], @expenses[6], @expenses[5], @expenses[4], @expenses[3], @expenses[2], @expenses[1], @expenses[0]],
                                backgroundColor: "rgba(219,39,91,0.7)"
                            }, {
                                label: '収入',
                                data: [@income[11], @income[10], @income[9], @income[8], @income[7], @income[6], @income[5], @income[4], @income[3], @income[2], @income[1], @income[0]],
                                backgroundColor: "rgba(130,201,169)"
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: '月合計　収支'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: 50000,
                                    suggestedMin: 0,
                                    stepSize: 20000,
                                    callback: function (value, index, values) {
                                        return value + '円'
                                    }
                                }
                            }]
                        },
                        responsive: true,
                    },
                });
            </script>
    </details>
</p>
<form>
    <select asp-for="SearchString" class="form-group">
        <option value="null">--Please choose an option--</option>
        <option value="支出">支出</option>
        <option value="収入">収入</option>
    </select>
    <input type="submit" value="検索" />
    <a class="btn text-white" style="background-color:#fafafa" asp-page="./Index">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">リセット</font>
    </a>
    
</form>
<br />





<div style="background:#ffcc99;">

    <table class="table">
        
        <thead>
            <tr>
                <th>
                    支出・収入
                </th>
                <th>
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="DateAsc" asp-route-SearchString="@Model.SearchString">
                        ▲
                    </a>
                    @Html.DisplayNameFor(model => model)日付
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="DateDesc" asp-route-SearchString="@Model.SearchString">
                        ▼
                    </a>
                </th>
                <th>
                    価格
                </th>
                <th>
                    カテゴリー
                </th>
                <th>
                    メモ
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Kakei) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                    @{
                        string str = String.Format("{0:#,0}", item.Price);
                    }
                <td>
                    @Html.DisplayFor(modelItem => str)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                <td>
                        <a class="btn text-white" style="background-color:#fafafa" asp-page="./Edit" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">支出編集</font>
                        </a>
                        <a class ="btn text-white" style="background-color:#fafafa" asp-page="./Edit2" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">収入編集</font>
                        </a>
                        <a class="btn text-white" style="background-color:#fafafa"asp-page="./Details" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">詳細</font>
                        </a>
                        <a class="btn text-white" style="background-color:#fafafa" asp-page="./Delete" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">削除</font>
                        </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    
</div>
@{
        var prevDisabled = !Model.Kakei.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Kakei.HasNextPage ? "disabled" : "";
    }
<center>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Kakei.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-sortOrder="@Model.sortOrder" 
       asp-route-SearchString="@Model.SearchString"
       class="btn text-white @prevDisabled"
       style="background-color:#fafafa">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">前ページ</font>
    </a>
    @Model.Kakei.PageIndex
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Kakei.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-sortOrder="@Model.sortOrder"
       asp-route-SearchString="@Model.SearchString"
       class="btn text-white @nextDisabled"
       style="background-color:#fafafa">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">次ページ</font>
    </a>
</center>