@page
@model HABManagement.Pages.KakeiDB.IndexModel

@{
    ViewData["Title"] = "家計簿";
}

<h1>家計簿</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<form>
    <p>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Category2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kakei[0].Memo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kakei) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
