@page
@model HABManagement.Pages.SListDB.IndexModel

@{
    ViewData["Title"] = "買い物リスト";
}
@{
    int i = 0;
}

<body style="background:#d8e698;">
</body>

<h1>買物リスト</h1>

<p>
    <a class="btn text-white" style="background-color:#fafafa"asp-page="Create">
        <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#89c997">新規作成</font>
    </a>
</p>

<div style="background:#c4e697;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>名前</label>
                </th>
                <th>
                    <label>メモ</label>
                </th>
                <th>
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="Desc">
                        ▲
                    </a>
                    優先度
                    <a class="btn text-dark" style="background-color:whitesmoke" asp-page="./Index" asp-route-sortOrder="Asc">
                        ▼
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                <td>
                    @while (i < item.Priority)
                    {
                        <label style="color:#e697c4; font-size:23px">♥</label>
                        i++;
                    }
                    @{
                        i = 0;
                    }
                </td>
                <td>
                        <a class="btn text-white" style="background-color:#fafafa" asp-page="./Edit" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#89c997">編集</font>
                        </a>
                        <a class="btn text-white" style="background-color:#fafafa" asp-page="./Details" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#89c997">詳細</font>
                        </a>
                        <a class="btn text-white" style="background-color:#fafafa" asp-page="./Delete" asp-route-id="@item.ID">
                            <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#89c997">削除</font>
                        </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>